body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0B3D91;
    color: #fff;
    padding: 20px;
    overflow: hidden;
}

header h1 {
    margin: 0;
    float: left;
}

nav{
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav ul li a:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
}

#destaques {
    padding: 20px;
}

.destaque {
    margin-bottom: 20px;
}

.destaque img {
    width: 100%;
    max-width: 300px;
    height: auto;
}

.destaque a{
    text-decoration: underline;
    color: black;
}

.destaque a:hover{
    font-weight: 700;
    color: #4b4e55;
}

.destaque p{
    max-width: 30%;
}

footer {
    background-color: #0B3D91;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}